:root {
    --taxt: rgba(19, 48, 57, 1);
    --primary: rgba(40, 111, 140, 1);
    --secondary: rgba(243, 170, 96, 1);
    --accent: rgba(238, 99, 99, 1);
    --gray: rgba(224, 224, 224, 1);
    --subtext: rgba(126, 169, 186, 1);
    --black-gray: rgba(112, 112, 112, 1);
    --withe: rgba(255, 255, 255, 1);
    --backround: rgba(247, 250, 252, 1);
    --nav-bar: rgba(74, 170, 198, 0.2);
    --button: rgba(35, 78, 92, 1);
    --primary-50: rgba(240, 250, 251, 1);
    --primary-100: rgba(216, 239, 245, 1);
    --primary-200: rgba(182, 224, 235, 1);
    --primary-300: rgba(132, 202, 220, 1);
    --primary-400: rgba(74, 170, 198, 1);
    --primary-500: rgba(46, 141, 172, 1);
    --primary-700: rgba(39, 93, 119, 1);
    --primary-800: rgba(40, 78, 98, 1);
    --primary-900: rgba(37, 66, 84, 1);
    --primary-950: rgba(20, 43, 56, 1);
    --secondary-50: rgba(254, 248, 238, 1);
    --secondary-100: rgba(253, 239, 215, 1);
    --secondary-200: rgba(250, 219, 174, 1);
    --secondary-300: rgba(246, 193, 123, 1);
    --secondary-500: rgba(237, 128, 34, 1);
    --secondary-600: rgba(222, 103, 24, 1);
    --secondary-700: rgba(185, 78, 21, 1);
    --secondary-800: rgba(147, 62, 25, 1);
    --secondary-900: rgba(118, 53, 24, 1);
    --secondary-950: rgba(64, 25, 10, 1);
    --accent-50: rgba(253, 243, 243, 1);
    --accent-100: rgba(252, 228, 228, 1);
    --accent-200: rgba(251, 205, 205, 1);
    --accent-300: rgba(247, 170, 170, 1);
    --accent-500: rgba(229, 78, 78, 1);
    --accent-600: rgba(210, 48, 48, 1);
    --accent-700: rgba(176, 37, 37, 1);
    --accent-800: rgba(146, 34, 34, 1);
    --accent-900: rgba(121, 35, 35, 1);
    --accent-950: rgba(66, 13, 13, 1);
    --maincorail: rgba(254, 94, 85, 1);
    --heading-1-font-family: "Inter", Helvetica;
    --heading-1-font-weight: 700;
    --heading-1-font-size: 36px;
    --heading-1-letter-spacing: 0px;
    --heading-1-line-height: 48px;
    --heading-1-font-style: normal;
    --heading-2-font-family: "Inter", Helvetica;
    --heading-2-font-weight: 700;
    --heading-2-font-size: 24px;
    --heading-2-letter-spacing: 0px;
    --heading-2-line-height: 32px;
    --heading-2-font-style: normal;
    --heading-3-font-family: "Inter", Helvetica;
    --heading-3-font-weight: 700;
    --heading-3-font-size: 18px;
    --heading-3-letter-spacing: 0px;
    --heading-3-line-height: 24px;
    --heading-3-font-style: normal;
    --body-font-family: "Inter", Helvetica;
    --body-font-weight: 400;
    --body-font-size: 16px;
    --body-letter-spacing: 0px;
    --body-line-height: 24px;
    --body-font-style: normal;
    --body-bold-font-family: "Inter", Helvetica;
    --body-bold-font-weight: 600;
    --body-bold-font-size: 16px;
    --body-bold-letter-spacing: 0px;
    --body-bold-line-height: 24px;
    --body-bold-font-style: normal;
    --body-s-font-family: "Inter", Helvetica;
    --body-s-font-weight: 500;
    --body-s-font-size: 14px;
    --body-s-letter-spacing: 0px;
    --body-s-line-height: 20px;
    --body-s-font-style: normal;
    --body-s-bold-font-family: "Inter", Helvetica;
    --body-s-bold-font-weight: 600;
    --body-s-bold-font-size: 14px;
    --body-s-bold-letter-spacing: 0px;
    --body-s-bold-line-height: 20px;
    --body-s-bold-font-style: normal;
    --body-l-font-family: "Inter", Helvetica;
    --body-l-font-weight: 400;
    --body-l-font-size: 18px;
    --body-l-letter-spacing: 0px;
    --body-l-line-height: 28px;
    --body-l-font-style: normal;
    --body-l-bold-font-family: "Inter", Helvetica;
    --body-l-bold-font-weight: 600;
    --body-l-bold-font-size: 18px;
    --body-l-bold-letter-spacing: 0px;
    --body-l-bold-line-height: 28px;
    --body-l-bold-font-style: normal;
    --link-s-font-family: "Inter", Helvetica;
    --link-s-font-weight: 500;
    --link-s-font-size: 14px;
    --link-s-letter-spacing: 0px;
    --link-s-line-height: 20px;
    --link-s-font-style: normal;
    --link-l-font-family: "Inter", Helvetica;
    --link-l-font-weight: 500;
    --link-l-font-size: 18px;
    --link-l-letter-spacing: 0px;
    --link-l-line-height: 28px;
    --link-l-font-style: normal;
    --button-font-family: "Inter", Helvetica;
    --button-font-weight: 500;
    --button-font-size: 16px;
    --button-letter-spacing: 0px;
    --button-line-height: 24px;
    --button-font-style: normal;
    --link-font-family: "Inter", Helvetica;
    --link-font-weight: 500;
    --link-font-size: 16px;
    --link-letter-spacing: 0px;
    --link-line-height: 24px;
    --link-font-style: normal;
    --caps-font-family: "Inter", Helvetica;
    --caps-font-weight: 600;
    --caps-font-size: 14px;
    --caps-letter-spacing: 0.84px;
    --caps-line-height: 20px;
    --caps-font-style: normal;
    --caps-s-font-family: "Inter", Helvetica;
    --caps-s-font-weight: 600;
    --caps-s-font-size: 12px;
    --caps-s-letter-spacing: 0.96px;
    --caps-s-line-height: 16px;
    --caps-s-font-style: normal;
    --caps-l-font-family: "Inter", Helvetica;
    --caps-l-font-weight: 600;
    --caps-l-font-size: 16px;
    --caps-l-letter-spacing: 0.64px;
    --caps-l-line-height: 24px;
    --caps-l-font-style: normal;
    --code-font-family: "IBM Plex Mono", Helvetica;
    --code-font-weight: 400;
    --code-font-size: 15px;
    --code-letter-spacing: 0px;
    --code-line-height: 24px;
    --code-font-style: normal;
    --mobile-h1-space-font-family: "Space Grotesk", Helvetica;
    --mobile-h1-space-font-weight: 700;
    --mobile-h1-space-font-size: 40px;
    --mobile-h1-space-letter-spacing: 0px;
    --mobile-h1-space-line-height: 50px;
    --mobile-h1-space-font-style: normal;
    --mobile-h2-space-font-family: "Space Grotesk", Helvetica;
    --mobile-h2-space-font-weight: 700;
    --mobile-h2-space-font-size: 32px;
    --mobile-h2-space-letter-spacing: 0px;
    --mobile-h2-space-line-height: 42px;
    --mobile-h2-space-font-style: normal;
    --mobile-h3-inter-font-family: "Space Grotesk", Helvetica;
    --mobile-h3-inter-font-weight: 700;
    --mobile-h3-inter-font-size: 24px;
    --mobile-h3-inter-letter-spacing: 0px;
    --mobile-h3-inter-line-height: 36px;
    --mobile-h3-inter-font-style: normal;
    --mobile-h4-inter-font-family: "Space Grotesk", Helvetica;
    --mobile-h4-inter-font-weight: 700;
    --mobile-h4-inter-font-size: 20px;
    --mobile-h4-inter-letter-spacing: 0px;
    --mobile-h4-inter-line-height: 30px;
    --mobile-h4-inter-font-style: normal;
    --mobile-h5-inter-font-family: "Space Grotesk", Helvetica;
    --mobile-h5-inter-font-weight: 700;
    --mobile-h5-inter-font-size: 18px;
    --mobile-h5-inter-letter-spacing: 0px;
    --mobile-h5-inter-line-height: 27px;
    --mobile-h5-inter-font-style: normal;
    --mobile-h6-inter-font-family: "Space Grotesk", Helvetica;
    --mobile-h6-inter-font-weight: 700;
    --mobile-h6-inter-font-size: 17px;
    --mobile-h6-inter-letter-spacing: 0px;
    --mobile-h6-inter-line-height: 26px;
    --mobile-h6-inter-font-style: normal;
    --fonts-cairo-caption-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-caption-x-bold-font-weight: 800;
    --fonts-cairo-caption-x-bold-font-size: 10px;
    --fonts-cairo-caption-x-bold-letter-spacing: 0px;
    --fonts-cairo-caption-x-bold-line-height: normal;
    --fonts-cairo-caption-x-bold-font-style: normal;
    --fonts-cairo-caption-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-caption-bold-font-weight: 700;
    --fonts-cairo-caption-bold-font-size: 10px;
    --fonts-cairo-caption-bold-letter-spacing: 0px;
    --fonts-cairo-caption-bold-line-height: normal;
    --fonts-cairo-caption-bold-font-style: normal;
    --fonts-cairo-caption-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-caption-regular-font-weight: 500;
    --fonts-cairo-caption-regular-font-size: 10px;
    --fonts-cairo-caption-regular-letter-spacing: 0px;
    --fonts-cairo-caption-regular-line-height: normal;
    --fonts-cairo-caption-regular-font-style: normal;
    --fonts-cairo-caption-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-caption-light-font-weight: 400;
    --fonts-cairo-caption-light-font-size: 10px;
    --fonts-cairo-caption-light-letter-spacing: 0px;
    --fonts-cairo-caption-light-line-height: normal;
    --fonts-cairo-caption-light-font-style: normal;
    --fonts-cairo-small-body-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-small-body-x-bold-font-weight: 800;
    --fonts-cairo-small-body-x-bold-font-size: 12px;
    --fonts-cairo-small-body-x-bold-letter-spacing: 0px;
    --fonts-cairo-small-body-x-bold-line-height: normal;
    --fonts-cairo-small-body-x-bold-font-style: normal;
    --fonts-cairo-small-body-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-small-body-bold-font-weight: 700;
    --fonts-cairo-small-body-bold-font-size: 12px;
    --fonts-cairo-small-body-bold-letter-spacing: 0px;
    --fonts-cairo-small-body-bold-line-height: normal;
    --fonts-cairo-small-body-bold-font-style: normal;
    --fonts-cairo-small-body-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-small-body-regular-font-weight: 500;
    --fonts-cairo-small-body-regular-font-size: 12px;
    --fonts-cairo-small-body-regular-letter-spacing: 0px;
    --fonts-cairo-small-body-regular-line-height: normal;
    --fonts-cairo-small-body-regular-font-style: normal;
    --fonts-cairo-small-body-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-small-body-light-font-weight: 400;
    --fonts-cairo-small-body-light-font-size: 12px;
    --fonts-cairo-small-body-light-letter-spacing: 0px;
    --fonts-cairo-small-body-light-line-height: normal;
    --fonts-cairo-small-body-light-font-style: normal;
    --fonts-cairo-medium-body-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-medium-body-x-bold-font-weight: 800;
    --fonts-cairo-medium-body-x-bold-font-size: 14px;
    --fonts-cairo-medium-body-x-bold-letter-spacing: 0px;
    --fonts-cairo-medium-body-x-bold-line-height: normal;
    --fonts-cairo-medium-body-x-bold-font-style: normal;
    --fonts-cairo-medium-body-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-medium-body-bold-font-weight: 700;
    --fonts-cairo-medium-body-bold-font-size: 14px;
    --fonts-cairo-medium-body-bold-letter-spacing: 0px;
    --fonts-cairo-medium-body-bold-line-height: normal;
    --fonts-cairo-medium-body-bold-font-style: normal;
    --fonts-cairo-medium-body-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-medium-body-regular-font-weight: 500;
    --fonts-cairo-medium-body-regular-font-size: 14px;
    --fonts-cairo-medium-body-regular-letter-spacing: 0px;
    --fonts-cairo-medium-body-regular-line-height: normal;
    --fonts-cairo-medium-body-regular-font-style: normal;
    --fonts-cairo-medium-body-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-medium-body-light-font-weight: 400;
    --fonts-cairo-medium-body-light-font-size: 14px;
    --fonts-cairo-medium-body-light-letter-spacing: 0px;
    --fonts-cairo-medium-body-light-line-height: normal;
    --fonts-cairo-medium-body-light-font-style: normal;
    --fonts-cairo-large-body-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-large-body-x-bold-font-weight: 800;
    --fonts-cairo-large-body-x-bold-font-size: 16px;
    --fonts-cairo-large-body-x-bold-letter-spacing: 0px;
    --fonts-cairo-large-body-x-bold-line-height: normal;
    --fonts-cairo-large-body-x-bold-font-style: normal;
    --fonts-cairo-large-body-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-large-body-bold-font-weight: 700;
    --fonts-cairo-large-body-bold-font-size: 16px;
    --fonts-cairo-large-body-bold-letter-spacing: 0px;
    --fonts-cairo-large-body-bold-line-height: normal;
    --fonts-cairo-large-body-bold-font-style: normal;
    --fonts-cairo-large-body-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-large-body-regular-font-weight: 500;
    --fonts-cairo-large-body-regular-font-size: 16px;
    --fonts-cairo-large-body-regular-letter-spacing: 0px;
    --fonts-cairo-large-body-regular-line-height: normal;
    --fonts-cairo-large-body-regular-font-style: normal;
    --fonts-cairo-large-body-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-large-body-light-font-weight: 400;
    --fonts-cairo-large-body-light-font-size: 16px;
    --fonts-cairo-large-body-light-letter-spacing: 0px;
    --fonts-cairo-large-body-light-line-height: normal;
    --fonts-cairo-large-body-light-font-style: normal;
    --fonts-cairo-subhead-line-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-subhead-line-x-bold-font-weight: 800;
    --fonts-cairo-subhead-line-x-bold-font-size: 18px;
    --fonts-cairo-subhead-line-x-bold-letter-spacing: 0px;
    --fonts-cairo-subhead-line-x-bold-line-height: normal;
    --fonts-cairo-subhead-line-x-bold-font-style: normal;
    --fonts-cairo-subhead-line-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-subhead-line-bold-font-weight: 700;
    --fonts-cairo-subhead-line-bold-font-size: 18px;
    --fonts-cairo-subhead-line-bold-letter-spacing: 0px;
    --fonts-cairo-subhead-line-bold-line-height: normal;
    --fonts-cairo-subhead-line-bold-font-style: normal;
    --fonts-cairo-subhead-line-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-subhead-line-regular-font-weight: 500;
    --fonts-cairo-subhead-line-regular-font-size: 18px;
    --fonts-cairo-subhead-line-regular-letter-spacing: 0px;
    --fonts-cairo-subhead-line-regular-line-height: normal;
    --fonts-cairo-subhead-line-regular-font-style: normal;
    --fonts-cairo-subhead-line-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-subhead-line-light-font-weight: 400;
    --fonts-cairo-subhead-line-light-font-size: 18px;
    --fonts-cairo-subhead-line-light-letter-spacing: 0px;
    --fonts-cairo-subhead-line-light-line-height: normal;
    --fonts-cairo-subhead-line-light-font-style: normal;
    --fonts-cairo-headline-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-headline-x-bold-font-weight: 800;
    --fonts-cairo-headline-x-bold-font-size: 20px;
    --fonts-cairo-headline-x-bold-letter-spacing: 0px;
    --fonts-cairo-headline-x-bold-line-height: normal;
    --fonts-cairo-headline-x-bold-font-style: normal;
    --fonts-cairo-headline-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-headline-bold-font-weight: 700;
    --fonts-cairo-headline-bold-font-size: 20px;
    --fonts-cairo-headline-bold-letter-spacing: 0px;
    --fonts-cairo-headline-bold-line-height: normal;
    --fonts-cairo-headline-bold-font-style: normal;
    --fonts-cairo-headline-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-headline-regular-font-weight: 500;
    --fonts-cairo-headline-regular-font-size: 20px;
    --fonts-cairo-headline-regular-letter-spacing: 0px;
    --fonts-cairo-headline-regular-line-height: normal;
    --fonts-cairo-headline-regular-font-style: normal;
    --fonts-cairo-headline-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-headline-light-font-weight: 400;
    --fonts-cairo-headline-light-font-size: 20px;
    --fonts-cairo-headline-light-letter-spacing: 0px;
    --fonts-cairo-headline-light-line-height: normal;
    --fonts-cairo-headline-light-font-style: normal;
    --fonts-cairo-2x-head-line-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-2x-head-line-bold-font-weight: 700;
    --fonts-cairo-2x-head-line-bold-font-size: 22px;
    --fonts-cairo-2x-head-line-bold-letter-spacing: 0px;
    --fonts-cairo-2x-head-line-bold-line-height: normal;
    --fonts-cairo-2x-head-line-bold-font-style: normal;
    --fonts-cairo-2x-head-line-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-2x-head-line-x-bold-font-weight: 800;
    --fonts-cairo-2x-head-line-x-bold-font-size: 22px;
    --fonts-cairo-2x-head-line-x-bold-letter-spacing: 0px;
    --fonts-cairo-2x-head-line-x-bold-line-height: normal;
    --fonts-cairo-2x-head-line-x-bold-font-style: normal;
    --fonts-cairo-2x-head-line-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-2x-head-line-regular-font-weight: 500;
    --fonts-cairo-2x-head-line-regular-font-size: 22px;
    --fonts-cairo-2x-head-line-regular-letter-spacing: 0px;
    --fonts-cairo-2x-head-line-regular-line-height: normal;
    --fonts-cairo-2x-head-line-regular-font-style: normal;
    --fonts-cairo-2x-head-line-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-2x-head-line-light-font-weight: 400;
    --fonts-cairo-2x-head-line-light-font-size: 22px;
    --fonts-cairo-2x-head-line-light-letter-spacing: 0px;
    --fonts-cairo-2x-head-line-light-line-height: normal;
    --fonts-cairo-2x-head-line-light-font-style: normal;
    --fonts-cairo-h5-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h5-x-bold-font-weight: 800;
    --fonts-cairo-h5-x-bold-font-size: 28px;
    --fonts-cairo-h5-x-bold-letter-spacing: 0px;
    --fonts-cairo-h5-x-bold-line-height: normal;
    --fonts-cairo-h5-x-bold-font-style: normal;
    --fonts-cairo-h5-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h5-bold-font-weight: 700;
    --fonts-cairo-h5-bold-font-size: 28px;
    --fonts-cairo-h5-bold-letter-spacing: 0px;
    --fonts-cairo-h5-bold-line-height: normal;
    --fonts-cairo-h5-bold-font-style: normal;
    --fonts-cairo-h5-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-h5-regular-font-weight: 500;
    --fonts-cairo-h5-regular-font-size: 28px;
    --fonts-cairo-h5-regular-letter-spacing: 0px;
    --fonts-cairo-h5-regular-line-height: normal;
    --fonts-cairo-h5-regular-font-style: normal;
    --fonts-cairo-h5-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-h5-light-font-weight: 400;
    --fonts-cairo-h5-light-font-size: 28px;
    --fonts-cairo-h5-light-letter-spacing: 0px;
    --fonts-cairo-h5-light-line-height: normal;
    --fonts-cairo-h5-light-font-style: normal;
    --fonts-cairo-h4-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h4-x-bold-font-weight: 800;
    --fonts-cairo-h4-x-bold-font-size: 32px;
    --fonts-cairo-h4-x-bold-letter-spacing: 0px;
    --fonts-cairo-h4-x-bold-line-height: normal;
    --fonts-cairo-h4-x-bold-font-style: normal;
    --fonts-cairo-h4-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h4-bold-font-weight: 700;
    --fonts-cairo-h4-bold-font-size: 32px;
    --fonts-cairo-h4-bold-letter-spacing: 0px;
    --fonts-cairo-h4-bold-line-height: normal;
    --fonts-cairo-h4-bold-font-style: normal;
    --fonts-cairo-h4-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-h4-regular-font-weight: 500;
    --fonts-cairo-h4-regular-font-size: 32px;
    --fonts-cairo-h4-regular-letter-spacing: 0px;
    --fonts-cairo-h4-regular-line-height: normal;
    --fonts-cairo-h4-regular-font-style: normal;
    --fonts-cairo-h4-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-h4-light-font-weight: 400;
    --fonts-cairo-h4-light-font-size: 32px;
    --fonts-cairo-h4-light-letter-spacing: 0px;
    --fonts-cairo-h4-light-line-height: normal;
    --fonts-cairo-h4-light-font-style: normal;
    --fonts-cairo-h3-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h3-x-bold-font-weight: 800;
    --fonts-cairo-h3-x-bold-font-size: 36px;
    --fonts-cairo-h3-x-bold-letter-spacing: 0px;
    --fonts-cairo-h3-x-bold-line-height: normal;
    --fonts-cairo-h3-x-bold-font-style: normal;
    --fonts-cairo-h3-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h3-bold-font-weight: 700;
    --fonts-cairo-h3-bold-font-size: 36px;
    --fonts-cairo-h3-bold-letter-spacing: 0px;
    --fonts-cairo-h3-bold-line-height: normal;
    --fonts-cairo-h3-bold-font-style: normal;
    --fonts-cairo-h3-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-h3-regular-font-weight: 500;
    --fonts-cairo-h3-regular-font-size: 36px;
    --fonts-cairo-h3-regular-letter-spacing: 0px;
    --fonts-cairo-h3-regular-line-height: normal;
    --fonts-cairo-h3-regular-font-style: normal;
    --fonts-cairo-h3-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-h3-light-font-weight: 400;
    --fonts-cairo-h3-light-font-size: 36px;
    --fonts-cairo-h3-light-letter-spacing: 0px;
    --fonts-cairo-h3-light-line-height: normal;
    --fonts-cairo-h3-light-font-style: normal;
    --fonts-cairo-h2-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h2-x-bold-font-weight: 800;
    --fonts-cairo-h2-x-bold-font-size: 40px;
    --fonts-cairo-h2-x-bold-letter-spacing: 0px;
    --fonts-cairo-h2-x-bold-line-height: normal;
    --fonts-cairo-h2-x-bold-font-style: normal;
    --fonts-cairo-h2-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h2-bold-font-weight: 700;
    --fonts-cairo-h2-bold-font-size: 40px;
    --fonts-cairo-h2-bold-letter-spacing: 0px;
    --fonts-cairo-h2-bold-line-height: normal;
    --fonts-cairo-h2-bold-font-style: normal;
    --fonts-cairo-h2-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-h2-regular-font-weight: 500;
    --fonts-cairo-h2-regular-font-size: 40px;
    --fonts-cairo-h2-regular-letter-spacing: 0px;
    --fonts-cairo-h2-regular-line-height: normal;
    --fonts-cairo-h2-regular-font-style: normal;
    --fonts-cairo-h2-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-h2-light-font-weight: 400;
    --fonts-cairo-h2-light-font-size: 40px;
    --fonts-cairo-h2-light-letter-spacing: 0px;
    --fonts-cairo-h2-light-line-height: normal;
    --fonts-cairo-h2-light-font-style: normal;
    --fonts-cairo-h1-x-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h1-x-bold-font-weight: 800;
    --fonts-cairo-h1-x-bold-font-size: 48px;
    --fonts-cairo-h1-x-bold-letter-spacing: 0px;
    --fonts-cairo-h1-x-bold-line-height: normal;
    --fonts-cairo-h1-x-bold-font-style: normal;
    --fonts-cairo-h1-bold-font-family: "Cairo", Helvetica;
    --fonts-cairo-h1-bold-font-weight: 700;
    --fonts-cairo-h1-bold-font-size: 48px;
    --fonts-cairo-h1-bold-letter-spacing: 0px;
    --fonts-cairo-h1-bold-line-height: normal;
    --fonts-cairo-h1-bold-font-style: normal;
    --fonts-cairo-h1-regular-font-family: "Cairo", Helvetica;
    --fonts-cairo-h1-regular-font-weight: 500;
    --fonts-cairo-h1-regular-font-size: 48px;
    --fonts-cairo-h1-regular-letter-spacing: 0px;
    --fonts-cairo-h1-regular-line-height: normal;
    --fonts-cairo-h1-regular-font-style: normal;
    --fonts-cairo-h1-light-font-family: "Cairo", Helvetica;
    --fonts-cairo-h1-light-font-weight: 400;
    --fonts-cairo-h1-light-font-size: 48px;
    --fonts-cairo-h1-light-letter-spacing: 0px;
    --fonts-cairo-h1-light-line-height: normal;
    --fonts-cairo-h1-light-font-style: normal;
    --text-box-shadow: 0px 2px 10px 0px rgba(40, 111, 140, 0.15);
    --bottun-shadow: 0px 2px 10px 0px rgba(20, 43, 56, 0.15);
    --colors-sandy-brown-50: rgba(254, 248, 238, 1);
    --colors-sandy-brown-100: rgba(253, 239, 215, 1);
    --colors-sandy-brown-200: rgba(250, 219, 174, 1);
    --colors-sandy-brown-300: rgba(246, 193, 123, 1);
    --colors-sandy-brown-400: rgba(243, 170, 96, 1);
    --colors-sandy-brown-500: rgba(237, 128, 34, 1);
    --colors-sandy-brown-600: rgba(222, 103, 24, 1);
    --colors-sandy-brown-700: rgba(185, 78, 21, 1);
    --colors-sandy-brown-800: rgba(147, 62, 25, 1);
    --colors-sandy-brown-900: rgba(118, 53, 24, 1);
    --colors-sandy-brown-950: rgba(64, 25, 10, 1);
    --colors-234e5c: rgba(40, 111, 140, 1);
  }
  