
.eid-mubarak {
    background-color: #f9f8f5;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 90%;
    
  }
  
  .eid-mubarak .div {
    
    background-color: #f9f8f5;
    width: 90%;
    height: 90%;
    position: relative;
  }
  
  .eid-mubarak .overlap {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  
  .eid-mubarak .aew {
    position: absolute;
    width: 1440px;
    height: 900px;
    top: 0;
    left: 0;
  }
  
  .eid-mubarak .group {
    position: absolute;
    width: 50%;
    top: 32px;
    left: 5%;
  }
  
  .eid-mubarak .text-wrapper {
    position: absolute;
    top: 155px;
    font-family: "Cairo", Helvetica;
    font-weight: 700;
    color: var(--taxt);
    font-size: 30px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    left: 15%;
  }
  
  .eid-mubarak .btn-group {

    display: inline-flex;
    align-items: center;

    justify-content: center;
    position: absolute;
    margin-top: 390px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(239, 148, 83) 0%, rgb(239, 99, 88) 100%);
    
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px ;
    position: absolute;
    left: 42%;  
}

  .eid-mubarak .frame {
    position: absolute;
    width: 20%;
    right: -15.5%;
  }
  
  .eid-mubarak .img {
    position: absolute;
    width: 20%;
    top: 135px;
    left: -18.8%;
  }
  
  .eid-mubarak .frame-2 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    position: absolute;
    top: 338px;
    left: 985px;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(239, 148, 83) 0%, rgb(239, 99, 88) 100%);
  }
  
  .eid-mubarak .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .eid-mubarak .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--fonts-cairo-h5-bold-font-family);
    font-weight: var(--fonts-cairo-h5-bold-font-weight);
    color: #ffffff;
    font-size: var(--fonts-cairo-h5-bold-font-size);
    text-align: left;
    letter-spacing: var(--fonts-cairo-h5-bold-letter-spacing);
    line-height: var(--fonts-cairo-h5-bold-line-height);
    direction: rtl;
    font-style: var(--fonts-cairo-h5-bold-font-style);
  }
  
  .eid-mubarak .frame-wrapper {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 48px 32px;
    position: absolute;
    top: 438px;
    left: 256px;
    border-radius: 8px;
    overflow: hidden;
    border: 2px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(239, 148, 83), rgb(239, 99, 88)) 1;
  }
  
  .eid-mubarak .frame-3 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .p {
    position: relative;
    width: 864px;
    margin-top: -1px;
    font-family: "Cairo", Helvetica;
    font-weight: 700;
    color: var(--taxt);
    font-size: 18px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    direction: rtl;
  }
  
  /* .eid-mubarak .photo-insta {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 375px;
    height: 531px;
    align-items: flex-start;
    gap: 4px;
    padding: 16px 0px;
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(239, 148, 83), rgb(239, 99, 88)) 1;
  } */
/*   
  .eid-mubarak .top-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
   */
  /* .eid-mubarak .profil-user {
    display: inline-flex;
    align-items: center;
    position: relative;
    flex: 0 0 auto;
    background-size: cover;

  } */
/*   
  .eid-mubarak .avatar {
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 100px;
  }
   */
  /* .eid-mubarak .instagram-thumbnails {
    position: relative;
    width: 32px;
    height: 32px;
    top: 2px;
    left: 2px;
    background-color: var(--maincorail);
    border-radius: 100px;
    overflow: hidden;
  }
   */
  /* .eid-mubarak .overlap-group {
    position: relative;
    height: 32px;
  }
   */
  .eid-mubarak .profile-photo {



    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    flex: 0 0 auto;

    border: 1px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(239, 148, 83), rgb(239, 99, 88)) 1;

  }
  
  .eid-mubarak .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .adfab-paris {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "Space Grotesk-Medium", Helvetica;
    font-weight: 500;
    color: #000000;
    font-size: 12px;
    letter-spacing: -0.17px;
    line-height: 12px;
    white-space: nowrap;
  }
  
  .eid-mubarak .adfab {
    position: relative;
    width: 28px;
    font-family: "Space Grotesk-Regular", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 10px;
    letter-spacing: -0.17px;
    line-height: 11px;
  }
  
  .eid-mubarak .three-dots {
    position: relative;
    width: 13px;
    height: 3px;
  }
  
  .eid-mubarak .img-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .eid-mubarak .caroussel {
    position: relative;
    flex: 1;
    align-self: stretch;
    width: 100%;
    flex-grow: 1;
  }
  
  .eid-mubarak .all-images {
    display: flex;
    width: 1875px;
    height: 390px;
    align-items: flex-start;
    position: relative;
    left: -375px;
  }
  
  .eid-mubarak .image-feed {
    position: relative;
    flex: 1;
    align-self: stretch;
    flex-grow: 1;
    background-image: url(./img/image-feed.png);
    background-size: cover;
    background-position: 50% 50%;
  }
  
  .eid-mubarak .image-feed-2 {
    position: relative;
    width: 373px;
    height: 390px;
    left: 376px;
    background-color: #000000;
  }
  
  .eid-mubarak .bottom-infos {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    padding: 8px 8px 0px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px 4px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .left-picto {
    display: inline-flex;
    align-items: flex-start;
    gap: 12px;
    position: relative;
  }
  
  .eid-mubarak .union {
    position: absolute;
    width: 20px;
    height: 18px;
    top: 3px;
    left: 2px;
  }
  
  .eid-mubarak .bullet-point {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .ellipse {
    background-color: #0098fd;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }
  
  .eid-mubarak .ellipse-2 {
    background-color: #c4c4c4;
    position: relative;
    width: 6px;
    height: 6px;
    border-radius: 3px;
  }
  
  .eid-mubarak .hilinky-sa {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk-Medium", Helvetica;
    font-weight: 400;
    color: #000000;
    font-size: 12px;
    text-align: left;
    letter-spacing: -0.17px;
    line-height: normal;
    direction: rtl;
  }
  
  .eid-mubarak .span {
    font-weight: 500;
    letter-spacing: -0.02px;
  }
  
  .eid-mubarak .text-wrapper-3 {
    font-family: "Cairo-Regular", Helvetica;
    letter-spacing: -0.02px;
  }
  
  .eid-mubarak .frame-5 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .eid-mubarak .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    border: 2px solid;
    border-color: transparent;
    border-image: linear-gradient(to bottom, rgb(239, 148, 83), rgb(239, 99, 88)) 1;
  }
  
  .eid-mubarak .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -2px;
    font-family: var(--fonts-cairo-2x-head-line-regular-font-family);
    font-weight: var(--fonts-cairo-2x-head-line-regular-font-weight);
    color: #707070cc;
    font-size: var(--fonts-cairo-2x-head-line-regular-font-size);
    text-align: left;
    letter-spacing: var(--fonts-cairo-2x-head-line-regular-letter-spacing);
    line-height: var(--fonts-cairo-2x-head-line-regular-line-height);
    direction: rtl;
    font-style: var(--fonts-cairo-2x-head-line-regular-font-style);
  }
  
  .eid-mubarak .frame-6 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 16px;
    position: relative;
    flex: 0 0 auto;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(239, 148, 83) 0%, rgb(239, 99, 88) 100%);
  }
  
  .eid-mubarak .text-wrapper-5 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: var(--fonts-cairo-headline-bold-font-family);
    font-weight: var(--fonts-cairo-headline-bold-font-weight);
    color: #ffffff;
    font-size: var(--fonts-cairo-headline-bold-font-size);
    text-align: left;
    letter-spacing: var(--fonts-cairo-headline-bold-letter-spacing);
    line-height: var(--fonts-cairo-headline-bold-line-height);
    direction: rtl;
    font-style: var(--fonts-cairo-headline-bold-font-style);
  }
  
  .eid-mubarak .line {
    position: absolute;
    width: 1122px;
    height: 2px;
    top: 1548px;
    left: 160px;
  }
  
  .eid-mubarak .overlap-group-wrapper {
    position: absolute;
    width: 1058px;
    height: 64px;
    top: 1597px;
    left: 207px;
  }
  
  .eid-mubarak .overlap-group-2 {
    position: relative;
    height: 64px;
  }
  
  .eid-mubarak .group-2 {
    position: absolute;
    width: 1058px;
    height: 64px;
    top: 0;
    left: 0;
  }
  
  .eid-mubarak .frame-7 {
    display: inline-flex;
    align-items: center;
    gap: 722px;
    position: relative;
  }
  
  .eid-mubarak .group-3 {
    position: relative;
    width: 125.98px;
    height: 63.5px;
  }
  
  .eid-mubarak .text-wrapper-6 {
    position: relative;
    width: fit-content;
    font-family: "Space Grotesk-Bold", Helvetica;
    font-weight: 700;
    color: var(--taxt);
    font-size: 20px;
    letter-spacing: 0;
    line-height: 30px;
    white-space: nowrap;
  }
  
  .eid-mubarak .frame-8 {
    position: absolute;
    width: 136px;
    height: 24px;
    top: 20px;
    left: 402px;
  }
  
  .eid-mubarak .designed-by-karim-el {
    position: absolute;
    width: 366px;
    height: 16px;
    top: 1438px;
    left: 537px;
  }
  
  .eid-mubarak .developed-by-marwa {
    position: absolute;
    width: 368px;
    height: 16px;
    top: 1481px;
    left: 536px;
  }
  